*
{
    box-sizing : border-box;
    font-family: "Raleway";
}

.cards
{
    color: #00000000;
    font-size: 2em;
    text-align: center;
    border-radius: 8px;
    width: calc(100% / 3 - 4px);
    //width: 32%;
    //height: 20em;
    height: calc(100% / 4 - 4px);
    //margin: 5px;
    padding: 4px;
    //padding-bottom: calc(25% - 15px);
    //position: relative;
    //margin-bottom: 2%;
    background-color: darkred;
    overflow: hidden;
    border: 1px solid #bdbdbd;
    box-shadow: 0px 1px 3px #bdbdbd;
    
    transition: background-color 0.75s, border 0.75s;
    //transition: border 0.75s;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html
{
    width: 100%;
    height: 100%;
}

img
{
    width: 100%;
    height: 100%;
    //max-width: 100%;
    //max-height: auto;
    //object-fit: contain;
    margin: auto;
    padding: auto;
    display: none;
    border-radius: 8px;
}

.nme
{
    width: 100%;
    height: 100%;
    font-size: 0.5em;
    padding-top: calc(50% - 16px - 4 * 0.25em);
    padding-left: auto;
    padding-right: auto;
    //padding: auto;
    //text-align: center;
    margin: auto;
}

.board
{
    //transition: display 0.25s;
    width: 100%;
    height: calc(100% - 8vh - 2px);
    align-items: stretch;
    display: flex;
    flex-direction: "row";
    justify-content: space-between;
    padding: 8px;
    //position: absolute;
    //top: calc(50% - 10em + 4vh);
    //left: calc(50% - 10em);
    flex-wrap: wrap;
}

.header
{
    width: 100%;
    height: 8vh;
    color: yellow;
    background-color: darkblue;
    padding: 10px;
    margin: 0px;
    margin-bottom: 4px;
    font-size: 4vh;
    transition: height 0.5s;
    box-shadow: 0px 3px 3px #bdbdbd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
 
a, a:active
{
    text-decoration: none;
    color: yellow;
}

#stats
{
    background-color: white;
    font-size: 4vh;
    color: white;
    width: calc(100% - 16px);
    height: 0px;
    display: block;
    padding: 0px;
    //position: absolute;
    //top: calc(50% - 10em + 4vh);
    //left: calc(50% - 10em);
    overflow: hidden;
    transition: height 0.5s;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 1px 3px #bdbdbd;
}

#back
{
    margin: 0px;
    padding: 8px;
    background-color: darkblue;
    color: yellow;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    overflow: hidden;
    transition: background-color 0.5s;
    box-shadow: 0px 1px 3px #bdbdbd;
    border: 1px solid #bdbdbd;
    height: calc(10%);
}

body
{
    width: 100%;
    height: 100%;
    touch-action: none;
    padding: 0;
    margin: 0;
}

#back:active, #back:hover
{
    margin: 0px;
    padding: 8px;
    background-color: yellow;
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #bdbdbd;
    height: 10%;
}

#info
{
    margin: 0px;
    margin-bottom: 16px;
    padding: 16px;
    background-color: darkred;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 1px 3px #bdbdbd;
    height: calc(90% - 16px);
    border: 1px solid #bdbdbd;
    text-align: center;
}